<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <form action="/join" method="POST" id='login'>
        <h1>Join</h1>
        <label for="username">Username:</label>
        <input type="text" name="username">
        <label for="room">Room name:</label>
        <input type="text" name="roomname">
        <button type="submit">Go</button>
    </form>
</body>
</html>